<h2 style="text-align: center">@ViewData["Text"]</h2>

<div id="box" style="align-content:center width: 80%; height: 200px; display:flex; flex-direction: row; margin-bottom: 50px;">
    <div style="flex-grow: 1; text-align: center; width:200; height:200; border: 1px solid black"><h5>Pomieszczenia</h5></div>
    <div style="flex-grow: 1; text-align: center; width:200; height:200; border: 1px solid black"><h5>Użytkownicy</h5></div>
    <div style="flex-grow: 1; text-align: center; width:200; height:200; border: 1px solid black"><h5>Uprawnienia</h5></div>
</div>
