<link rel="stylesheet" href="../../../Content/bootstrap.css"/>
<link rel="stylesheet" href="../../../Content/font-awesome.css"/>

<h2 style="text-align: center" class="display-4 mb-4">@ViewData["Text"]</h2>

<div id="box">
    <div class="option" id="rooms"><h5>Pomieszczenia</h5><a href="/rooms"><i class="fa fa-building"></i></a></div>
    <div class="option" id="users"><h5>Użytkownicy</h5><a href="/users"><i class="fa fa-user"></i></a></div>
    <div class="option" id="permissionspage" runat="server"><h5>Uprawnienia</h5><a href="permissions"><i class="fa fa-key"></i></a></div>
    <div class="option" id="actions">
        <h5>Rejestr wejść/wyjść</h5>
        <form>
            <div class="form-group">
                <label for="user">Użytkownik</label>
                <select class="form-control" id="user">
                    <option selected>- - - - -</option>
                    <option>Jan Kowalski</option>
                    <option>Marcin Nowak</option>
                    <option>Tomasz Marszałek</option>
                </select>
            </div>
            <div class="form-group">
                <label for="room">Pomieszczenie</label>
                <select class="form-control" id="room">
                    <option selected>- - - - -</option>
                    <option>1.01</option>
                    <option>2.08</option>
                    <option>340</option>
                </select>
            </div>
            <div class="form-group">
                <label><input type="radio" name="optradio"> Wejście</label></br>
                <label><input type="radio" name="optradio"> Wyjście</label>
            </div>
            <button type="submit" class="btn btn-primary">Wykonaj</button>
        </form>
    </div>
</div>

<style>
    body{
        margin: auto;
        padding: auto;
    }
    #box {
        margin: auto;
        align-content: center;
        width: 80%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin-bottom: 200px;
        justify-content: space-between;
    }
    .option {
        flex-grow: 1;
        padding: 5px;
        text-align: center;
        width: 250px;
        height: 150px;
        border: 1px solid black;
        cursor: pointer;
        padding: 10px;
        margin: 30px;

    }
    #actions{
        flex-grow: 3;
        height: 360px;
    }
    #rooms{
        background-color: #FEFEFE;
    }
    #rooms:hover{
        background-color: red;
    }
    #users {
        background-color: #FEFEFE;
    }
    #users:hover {
        background-color: blue;
    }
    #permissionspage {
        background-color: #FEFEFE;
    }
        #permissionspage:hover {
            background-color: green;
    }
    h5{
        margin-top: 5px;
        margin-bottom: 10px;
    }
    .fa{
        font-size: 75px;
    }
</style>