<h2 style="text-align: center">Uprawnienia</h2>

@*Utworzyć forma, dwa selecty (user + pomieszczenie) + przycisk zapisujący*@

<form>
    <label>Użytkownik</label>
    <select class="form-control"></select>
    <label>Pomieszczenie</label>
    <select></select>
</form>